.footer{
  height: 100px;
  background-color: #150703;
  padding-top: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer p{
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
}

.icons li{
  display: inline;
  margin-left: 10px;

}

.icons i{
  text-align: center;
  border: none;
}
